.DS_Store

# linux
*~

# java
*.class
bin

# packages
*.jar
*.war
*.ear

# eclipse
.settings
.buildpath
.classpath
.project
proguard*

# logging
*.log

# maven
target


# idea
.idea
*.iml
gen
out

jangod
local.properties